<ion-tabs class="tabs-dark tabs-icon-top tabs-striped">
  <!-- Create tab Home -->
  <ion-tab title="Hem" class="icon-size" icon-on="fas fa-building" icon-off="far fa-building" href="#/tab/home">
    <ion-nav-view name="home-tab">
    </ion-nav-view>
  </ion-tab>

  <!-- Create tab Rooms -->
  <ion-tab title="Rum" icon-on="fas fa-registered" icon-off="far fa-registered" href="#/tab/rooms">
    <ion-nav-view name="rooms-tab">
    </ion-nav-view>
  </ion-tab>

  <!-- Create tab Contact -->
  <ion-tab title="Kontakt" icon-on="ion-ios-information" icon-off="ion-ios-information-outline" href="#/tab/contact">
    <ion-nav-view name="contact-tab">
    </ion-nav-view>
  </ion-tab>

</ion-tabs>